
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  90% {
    transform: translateY(0);
  }
}

.bounce {
  animation: bounce 2.5s ease-in-out infinite;
}

h1 > code, p > code {
  background-color: black;
  padding-inline: .25rem;
}
