<div class="relative flex flex-col h-full gap-6 px-8 py-16 [background:var(--linear-bg)] rounded-[1.5em] base-stroke pt-24 [direction:ltr]">
  <get-icon name="bars" class="text-[32px] absolute top-8 left-8 text-white/50 cursor-pointer" (click)="sidebar.toggleSidebar()"></get-icon>
  <app-account></app-account>
  <div class="flex flex-col gap-3">
    <a
      class="inline-flex gap-2 px-1.5 py-1 text-lg font-semibold text-primary-content/50 hover:text-primary cursor-pointer transition-all duration-300"
      (click)="navigator.goToSection(section.id)"
      *ngFor="let section of sections">
      {{ section.name }}
    </a>
  </div>
</div>
